@import "./fonts/fonts.scss";

html {
    font-family: "Sanuk", sans-serif;
    font-weight: 400;
    font-size: clamp(16px, 3vw, 20px);

    b {
        font-weight: 600;
    }

    p+p {
        margin-top: 1em;
    }
}

.emoji {
    display: inline-block;
    width: 0.8em;
    height: 0.8em;
    transform: translateY(-0.1em);
}